@import "../../styles/colors";
@import "../../styles/mixins.scss";

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url("assets/hero/background.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &__image-delivery {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    left: 38%;
    top: 0%;
    @include respond(tab-land) {
      width: 500px;
      height: 500px;
      top: 30%;
      left: 20%;
    }

    @include respond(tab-port) {
      width: 350px;
      height: 350px;
      top: 30%;
      left: 25%;
    }
    @include respond(phone) {
      width: 250px;
      height: 250px;
      top: 25%;
      left: 15%;
    }
  }
  &__image-hamburger {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    left: 2%;
    top: 10%;
    @include respond(tab-land) {
      width: 350px;
      height: 350px;
      top: 5%;
      left: 10%;
    }

    @include respond(tab-port) {
      width: 250px;
      height: 250px;
      top: 10%;
      left: 10%;
    }

    @include respond(phone) {
      width: 150px;
      height: 150px;
      top: 5%;
      left: 5%;
    }
  }
  &__image-pizza {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: contain;
    right: 2%;
    top: 10%;
    @include respond(tab-land) {
      width: 350px;
      height: 350px;
      top: 5%;
      right: 10%;
    }

    @include respond(tab-port) {
      width: 250px;
      height: 250px;
      top: 10%;
      right: 10%;
    }

    @include respond(phone) {
      width: 150px;
      height: 150px;
      top: 5%;
      right: 5%;
    }
  }

  &__content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: map-get($text-color, primary-red);
  }

  &__title {
    font-size: 48px;
    margin-bottom: 20px;
    @include respond(tab-land) {
      font-size: 60px;
    }

    @include respond(tab-port) {
      font-size: 40px;
    }
  }
  &__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    @include respond(tab-land) {
      font-size: 40px;
    }
    @include respond(phone) {
      font-size: 20px;
    }
  }

  &__button {
    width: 10rem;
    padding: 10px 20px;
    font-size: 18px;
    color: map-get($text-color, primary-white);
    background-color: map-get($background-color, primary-red);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    @include respond(tab-land) {
      font-size: 30px;
    }
    @include respond(phone) {
      font-size: 15px;
    }
  }
}
