@import "../../styles/mixins.scss";

.pizza {
  padding-block: 1rem 1rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 1rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
