$text-color: (
  primary-white: #ffffff,
  primary-red: #590223,
  primary-yellow: #f1c231,
);

$background-color: (
  primary-white: #ffffff,
  primary-red: #590223,
  primary-yellow: #f1c231,
  primary-beige: #f1ebcb,
);
