@import "../../styles/mixins.scss";

.home {
  &__bestsellers {
    margin-block: 2rem;
  }

  &__title {
    width: fit-content;
    margin: auto;
    margin-block: 1rem 2rem;
    @include respond(phone) {
      font-size: 20px;
    }
  }
}
