@import "../../styles/mixins.scss";

.drinks {
  padding-block: 1rem 1rem;
  &__title {
    width: fit-content;
    margin-inline: auto;
    margin-block: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 1rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  &__complement-meal {
    margin-block: 2rem;
  }
}
